body {
  background: linear-gradient(0deg, rgb(227, 255, 253), rgb(202, 243, 240));
  color: rgb(68, 68, 68);
  overflow-x: hidden;
}

#page-logo a {
    color: rgb(245, 243, 160);
}

header {
  position: static;
  background-color: rgb(118,180,184);
  margin-bottom: 3rem;
}

header a {
  color: rgb(255, 251, 0);
}

header nav a:hover {
  color: rgb(77, 77, 77);
  background-color: rgb(255, 251, 0);
}

#hamburgers {
  display: none;
}

#hamburgers:hover {
  background-color: rgba(240, 238, 95, 0.5);
}

.hamburger {
  background-color: rgba(255, 251, 0);
}

main {
  width: 80%;
  margin: 4rem auto;
}

main ul {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.5rem;
}

li:nth-of-type(3) {
  grid-column: 1 / span 2;
}

main li {
  display: flex;
  background-color: white;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  overflow: hidden;
}

main li img {
  width: 300px;
  height: 280px;
  object-fit: cover;
}

.item-content {
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.item-content h2 {
  margin: 0;
}

.actions {
  text-align: right;
}

.actions a {
  text-decoration: none;
  padding: 0.4rem;
  color: rgb(74, 176, 244);
  border-radius: 5px;
}

.actions a:hover {
  background-color: rgb(235, 253, 255);
}

@media (width < 1000px) {
  header{
    padding:  3rem 4rem;
  }

  #page-logo a {
    font-size: 3rem;
  }

  header nav {
    display: none;
  }

  #hamburgers {
    width: 6rem;
    height: 5rem;
    display: flex;
    margin: 0;
    padding: 0;
  }

  #aside-header {
    padding: 4rem 5rem; 
  }

  aside ul {
    margin-top: 10rem;
  }

  aside li a {
    font-size: 4rem;
  }

  main {
    width: 80%;
  }

  main ul {
    display: flex;
    flex-direction: column;
  }

  main li {
    flex-direction: column;
    overflow: hidden;
    border-radius: 10px;
    margin-top: 2.5rem;
  }

  main li img {
    height: 350px;
    width: 100%;
    object-fit: cover;
  }

  .item-content {
    padding: 1.5rem;
  }

  .item-content h2 {
    font-size: 2.5rem;
  }

  .item-content p {
    font-size: 1.5rem;
    margin-top: 0.8rem;
  }

  .item-content .actions {
    font-size: 2rem;
  }
}